.delete-tag-div-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

.delete-tag-title {
  margin: 10px 30px;
  color: rgb(240, 240, 240);
}

.delete-tag-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  padding: 25px;
  background-color: rgb(38, 38, 38);
  box-shadow: 0 0 10px black;
  margin: 5px 20px;
  border-radius: 20px;
  flex-grow: 1;
}

.delete-tag-text {
  color: rgb(217, 217, 217);
  font-size: 0.85em;
}


#delete-tag-btn {
  background-color: rgb(255, 255, 255);
  color: white;
  margin: 15px 7px 10px auto; 
  width: min-content;
  aspect-ratio: 1;
  border-radius: 10px;
  margin: 0;
  box-shadow: 0 0 10px red;
}

#delete-tag-btn:hover {
  box-shadow: 0 0 30px red;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 221, 221);
}

