.listbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  min-width: 200px;
  background-color: rgb(27, 27, 27);
}

::-webkit-scrollbar {
  display: none;
}
